<style>
    #intro {
        /* Margin to fix overlapping fixed navbar */
        margin-top: 0px;
    }

    @media (max-width: 991px) {
        #intro {
            /* Margin to fix overlapping fixed navbar */
            margin-top: 0px;
        }
    }
</style>

<nav class="navbar navbar-light bg-light fixed-top">
    <div class="container-fluid">
        <span class="navbar-brand mb-0 h1">JU E-Summit 2021</span>
    </div>
</nav>