<div class="container col-xl-12 col-xxl-12 px-4">
    <div class="row align-items-center g-lg-5 py-5">
        <div class="col-lg-7 text-lg-start">
            <h1 class="display-4 fw-bold lh-1 mb-3">Seats filling up fast ! <p></p><span
                    class="badge bg-primary text-wrap"><span class="text-light">Apply
                        Now</span></span></h1>
            <p class="col-lg-10 fs-4">We have 50 openings currently. Skills and interest is all that
                matters
                to
                us</p>
            <p class="col-lg-10 fs-4">You can apply if you :</p>
            <p>
            <ul>
                <li>
                    can start the part time job/internship between 12 Aug'21 and 26 Sep'21
                </li>
                <li>
                    are available for duration of 1 (one) month
                </li>
                <li>
                    have relevant skills and interests
                </li>
            </ul>
            </p>
        </div>
        <div class="col-md-10 mx-auto col-lg-5" id="applycaform">
            <form class="p-4 p-md-5 border rounded-3 bg-light" method="POST" action="/ca/apply">
                <div class="form-floating mb-3">
                    <input type="text" class="form-control" id="floatingInput1" name="name" placeholder="Andy John"
                        required>
                    <label for="floatingInput1">Name</label>
                </div>
                <div class="form-floating mb-3">
                    <input type="text" class="form-control" id="floatingInput2" name="university"
                        placeholder="Example Company Inc." required>
                    <label for="floatingInput2">University</label>
                </div>
                <div class="form-floating mb-3">
                    <input type="email" class="form-control" id="floatingInput3" name="email"
                        placeholder="name@example.com" required>
                    <label for="floatingInput3">Email address</label>
                </div>
                <div class="form-floating mb-3">
                    <input type="number" class="form-control" id="floatingInput3" name="phone" placeholder="9999999999"
                        required>
                    <label for="floatingInput3">Phone (without country code)</label>
                </div>

                <input class="w-100 btn btn-lg btn-primary" type="submit" value="Proceed"></input>
                <hr class="my-4">
                <small class="text-muted">By clicking Proceed, you agree to the terms of use. You'll be
                    taken to
                    another page to complete the rest of the process.</small>
            </form>
        </div>
    </div>
</div>